.toggle-container {
    width: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #111;
}
.border-flag {
    border-radius: 100%;
    font-size: 20px;
    opacity: inherit;
}
.border-flag-active {
    border-radius: 100%;
    font-size: 20px;
    opacity: inherit;
    border: 3px solid #8DA9C4;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
}